@import "../../scss/abstracts";

.fullWidthContainer {
  width: 100%;
}

.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: grid(5);
  width: 100%;
}

.first {
  padding-top: grid(20);
}

.last {
  padding-bottom: grid(20);
}
